body{
    background: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    color: #333;
    justify-content: center;
    /* grid-gap: 1em; */
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 2em;
}

.holder{
    width: 450px;
}

.entry{
    background: rgba(145, 147, 150, 0.4);
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
}

.headline {
    font-size: 50px;
    color: #b6006a;
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 450px;
    background:#fff;
    color: #333;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px;
}

button{
    width: 450px;
    height: 100px;
    background: #b6006a;
    color: #fffff8;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 20px 0;
}

h1{
    font-size: 36px;
}

textarea {
    color: #333;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px;
    border-radius: 5px;
    display: block;
    width: 450px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #666; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #666; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #666; 
    font-family: 'Oswald', sans-serif;

} 